Source: ${PN}
Section: kernel
Priority: optional
Build-Depends: ${KSELFTEST_DEPENDS}
Standards-Version: 3.9.6
Maintainer: ISAR project <isar-users@googlegroups.com>

Package: ${PN}
Architecture: any
Description: ${DESCRIPTION}
